body {
  /* Reseting the default here */
  margin: 0;
}

#article_wrapper {
  position: relative;
  background-color: grey;
  height: 1000vh; /* Length of the interactive scroll article */
}

#canvas_wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.photo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-overlay-img {
  height: 100%;
  width: auto;
  transform: scale(1.5);
}

.titleSlide {
  margin-top: 7vh;
  margin-left: 20px;
}

@font-face {
  font-family: "love_ya_like_a_sisterregular";
  src: url("/titleFont.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 150px;
  color: white;
  /* background-color: rgb(255, 255, 255, 0.5); */
  font-family: "love_ya_like_a_sisterregular";
  text-shadow: 1px 1px 4px black;
}

.subtitle {
  font-size: 40px;
  /* background-color: rgb(255, 255, 255, 0.5); */
  width: fit-content;
  font-family: "love_ya_like_a_sisterregular";
  text-shadow: 1px 1px 2.5px white;
}

.credits {
  font-size: 25px;
  background-color: rgb(255, 255, 255, 0.5);
  width: fit-content;
  margin-top: 25px;
  text-align: left;
}

.overlaySlide {
  position: absolute;
  text-align: left;
  right: 50px;
  font-size: 22px;
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  /* border-radius: 10px; */
  width: 40vw;
  z-index: 50;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2cm, 2cm;
}

.overlaySlideCart {
  position: absolute;
  text-align: left;
  left: 50px;
  font-size: 18px;
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  /* border-radius: 10px; */
  width: 25vw;
  z-index: 50;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2cm, 2cm;
}

.overlaySlideBlack {
  position: absolute;
  text-align: left;
  right: 60px;
  font-size: 22px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0); */
  border-radius: 10px;
  width: 40vw;
  z-index: 50;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 2cm, 2cm;
}

#blackCard {
  position: absolute;
  /* Adjust this value based on where you want the black card to start sticking */
  top: 500vh;
  width: 100vw;
  height: 92vh; /* Adjust this value based on the desired height of the black card */
  background-color: rgb(18, 18, 18);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#blackParagraph {
  margin-block-start: -3em;
}

#cookingPhoto {
  position: absolute;
  max-width: 42em;
  margin-left: 8em;
  margin-right: 50em;
  margin-top: 10.5em;
  margin-bottom: 10em;
}

.plainTextSlide {
  position: absolute;
  width: 60vw;
  left: 20vw;
  color: black;
  font-size: 25px;
  z-index: 50;
}

.sticky-overlay {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.marker-div {
  width: 400px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  opacity: 0;
}

.marker-title {
  font-size: 22px;
  margin-bottom: 5px;
  color: rgb(255, 123, 57);
  font-weight: bold;
}

/* .marker-body {
  font-size: 20px;
} */

.drag-img-div {
  position: absolute;
  top: 48vh;
  left: 48vw;
  z-index: 1000000;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 30%;
  animation: blinking 1.5s infinite;
}

.drag-img {
  width: 4vw;
  height: auto;
}

.drag-img-container {
  opacity: 0;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
